@charset "utf-8";
/* 초기화 */
body, h1, h2, h3, h4, h5, ul, p {margin: 0; padding: 0;}
li {list-style: none;}
.hidden {position: absolute; left: -9999px;}
a {text-decoration: none; color: rgba(255, 255, 255, 0.5); font-family: "SB 어그로";}
em, address {font-style: normal; font-size: 1em;}
/* 전체 높이 */
html, body {height: 100%;}
/* 바디 */
body {
    background-color: #000;
    font-family: "SB 어그로";
    color: #fff; min-width: 1400px;
}
/* 헤더 */
#header {
    position: fixed; top: 0; left: 0; z-index: 100;
    width: 100%; min-width: 1000px;
}
#header h1 {
    text-indent: -9999px; width: 200px; height: 80px;
    background: url(../svg/logo_w.svg) no-repeat center / cover;
    float: left; margin: 20px 0 0 20px;
}
/* 가장 앞에 보이는 것 */
#firstWindow {
    text-indent: -9999px;
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100vh; 
    background: #000 url(../svg/logo_w.svg) no-repeat center / 1000px;
    transition-duration: 1s;
}
#firstWindow.active {
    background-position: 20px 20px;
    background-size: 200px;
    /* background-color: rgba(0, 0, 0, 0); */
}
/* 메인메뉴 */
#gnb {float: right; position: relative;}
#gnb > li {
    float: left; padding: 0 10px; margin: 0 30px; line-height: 100px; text-align: center;
    position: relative;
}
#gnb > li > a {
    font-weight: bold; font-size: 25px; transition-duration: 0.3s;
}
#gnb > li > a.on {color: #fff; font-size: 30px;}
/* 보조 메뉴 */
#gnb .snb {
    width: 200%; padding: 10px 0; background-color: #D1ED5D;
    position: absolute; top: 90%; left: -50%; border-radius: 10px;
    display: none;
}
#gnb .snb li {
    line-height: 30px; text-align: center;
}
#gnb .snb li a {font-size: 20px; color: #000;}
/* 메인 */
/* 전체 가로정렬 */
#wrap {width: 100%; height: 100%; overflow: hidden;}
#main {width: 400%; height: 100%;}
#wrap main {height: 100%;}
/* 섹션별 공통 */
#wrap section {
    height: 100%; position: relative;
    float: left; width: 25%;
}
.c_head {
    color:rgba(255, 255, 255, 0.2); font-size: 150px;
    position: absolute; top: 150px; left: 0;
}
/* 섹션1 - intro */
/* #content1 {background-color: rosybrown;} */
#pWrap {
    width: 770px; height: 60%; overflow: auto;
    line-height: 70px;
    /* border: 1px solid #fff; */
}
#pWrap::-webkit-scrollbar {width: 3px; background-color: rgba(255, 255, 255, 0.2);}
#pWrap::-webkit-scrollbar-thumb {width: 3px; background-color: #D1ED5D;}
#pWrap {
    position: absolute;
    font-size:50px; letter-spacing: 3px;
}
#pWrap p em {line-height: 90px; font-size: 80px; color: #D1ED5D;}
#pWrap {top: 250px; left: 80px;}
.bg {
    width: 40%; height: 100%; float: right; text-indent: -9999px;
    background: no-repeat center / cover;
    position: relative;
}
.bg1 {background-image: url(../images/hi.jpg);}
/* 섹션2 - study */
.bg2 {background-image: url(../images/study.jpg);}
.bg::after {
    content: ""; position: absolute; top: 0; left: 0;
    width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7);
}
#content2 > div:not(#content2 > div:last-child) {
    position: absolute; font-weight: bold; width: 100%; z-index: 10;
    display: flex; flex-flow: row nowrap; align-items: center;
}
#content2 #basic {top: 60%;}
#content2 #govern {top: 80%;}
#content2 > div::after {content: ""; display: block; clear: both;}
#content2 > div > p {
    text-align: right; font-size: 50px;
    width: 350px;
}
#content2 .subject {font-size: 25px;}
.subject li {float: left; width: 250px; text-align: center;}
.subject li p {
    padding-bottom: 20px; color: #000;
}
.subject li.stretch p {color: #fff; transition-duration: 1s;}
.subject li div {
    text-indent: -9999px; width: 20px; height: 20px;
    background-color: #000; border-radius: 50%; margin: 0 auto;
    position: relative;
}
.subject li.stretch div {background-color: #D1ED5D; transition-duration: 1s;}
.subject li:first-child div::before {
    content: ""; position: absolute; bottom: 10px; left: 0;
    width: 0; height: 1px; background-color: #D1ED5D;
}
#basic .subject li.stretch:first-child div::before {width: 500px; transition-duration: 1s;}
#govern .subject li.stretch:first-child div::before {width: 750px; transition-duration: 1s;}
/* 섹션 3 - like */
#content3 {width: 25%;}
#content3 h2 {color:rgba(255, 255, 255, 0.2); z-index: 6;}
#articleWrap {width: 100%; height: 100%;}
#content3 article {
    width: 100%; height: 100%; position: absolute; top: 0; left: 0;
    background-color: #000;
}
#content3 article.active {z-index: 5;}
#numBtn {position: absolute; bottom: 50px; left: 50px; z-index: 5;}
#numBtn li {float: left; text-indent: -9999px; padding: 0 20px;}
#numBtn li a {
    display: block; width: 20px; height: 20px;
    background: #fff; border-radius: 50%;
    transition-duration: 0.3s;
}
#numBtn li a[href="#c3_aru"] {background: #8DD0FF;}
#numBtn li a[href="#c3_hyang"] {background: #FF9933;}
#numBtn li a.on {transform: scale(2);}
#posNum a {
    position: absolute; top: 50%; z-index: 5;
    background-color: #fff; color: #000;
    width: 0; overflow: hidden;
    text-align: center; line-height: 30px;
    transition-duration: 0.3s; 
}
#posNum a.on {width: 60px;}
#posNum a:first-child {left: 0;}
#posNum a:last-child {right: 0;}
/* main */
#c3_main {
    background: url(../images/puppy.jpg) no-repeat fixed center / cover;
}
#c3_main div {
    position: absolute; top: 0; left: 0; text-indent: -9999px;
    width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6);
}
#c3_main h3, #c3_aru div, #c3_hyang div {
    position: absolute; top: 250px; left: 100px;
    font-size: 100px;
}
#c3_main p {
    position: absolute; bottom: 50px; right: 50px;
    font-size: 70px; font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}
#c3_main p:first-of-type {bottom: 150px;}
/* 애들 공통 */
video {
    width: 1000px;
    position: absolute; top: 50%; right: 30px; transform: translateY(-50%);
}
#c3_aru div p, #c3_hyang div p {
    font-size: 50px; margin-top: 30px;
    line-height: 70px;
    -webkit-text-fill-color: transparent;
}
/* aru */
#c3_aru div p {-webkit-text-stroke: 1px #8DD0FF;}
/* hyang gi */
#c3_hyang div p {-webkit-text-stroke: 1px #FF9933;}
/* 섹션4 - end */
#content4 {overflow: hidden;}
#content4 div {
    background: #D1ED5D; color: #000; font-size: 100px; font-weight: bold;
    padding: 30px; width: 70%;
    position: absolute; top: 40%; right: -80%;
}
#info {
    font-size: 20px; text-align: right;
    margin-top: 50px;
}